* {
    direction:ltr;
}

.container {
    margin:0 auto;
    width:600px;
    text-align: center;
}

textarea {
    width:100%;
    height:400px;
    font:12px Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

button {
    color: #F00;
    font-weight: bold;
}